body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #262626;
}

#loader-wrapper {
    object-fit: fill;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    object-fit: fill;
    align-items: center;
    display: block;
    position: relative;
    top: 25%;
    left: 20%;
    right: 20%;
    bottom: 25%;
    width: auto;
    height: auto;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    z-index: 1001;
}

#loader img {
    object-fit: fill;
    display: inline-flex;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #DADADA;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}

.navbar {
    background-color: #000;
    position: relative;
}

nav .collapse ul li a {
    text-shadow: .5;
    font-size: 18px;
    letter-spacing: .2px;
    color: #fff;
}

#poster {
    position: relative;
}

.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

.testimonials .card {
    position: relative;
    height: 450px;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 18px 18px 18px 18px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.testimonials .container-wrap h1 {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    text-decoration-style: bold;
    margin: 0 auto;
    text-shadow: 2px 2px 4px #03010C;
    background: transparent;
}

.testimonials .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #000);
    z-index: 1;
    transition: 0.5s;
}

.testimonials .card:hover .layer {
    top: 0;
}

.testimonials .card .content {
    z-index: 2;
    position: relative;
}

.testimonials .card .content p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.testimonials .card .content .image {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.testimonials .card .content .details h2 {
    font-size: 18px;
    color: #fff;
}

.testimonials .card .content .details h2 span {
    color: #03a9f4;
    font-size: 14px;
    transition: 0.5s;
}

.testimonials .card:hover .content .details h2 span {
    color: #fff;
}

#content {
    background-image: url(../img/bg2.jpg);
}

#history .container-wrap {
    margin: 0 auto;
    margin-top: 14px;
}

#history .card {
    background-color: #03010C;
    padding: 0.5px 1px 1px 0.5px;
    margin: 0 10px 0 10px;
    width: auto;
    height: auto;
    align-items: center;
    display: inline-flex;
    box-shadow: 0 10px 20px rgba(3, 169, 244, .2);
}

#history .container-wrap h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #03010C;
    background: transparent;
}

#history .card p {
    text-align: left;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 40px;
    padding: 45px 20px 20px 15px;
    text-shadow: 2px 2px 4px #03a9f4;
    color: #fff;
}

#Message .m1 {
    align-items: center;
    background-color: #C1C0C4;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 14px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
    margin-top: auto;
    text-align: left;
    padding: 20px 20px 20px 15px;
    color: #fff;
    box-sizing: inherit;
}

#Message .m2 {
    align-items: center;
    background-color: #C1C0C4;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 14px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
    margin-top: auto;
    text-align: left;
    padding: 20px 20px 20px 15px;
    color: #fff;
    box-sizing: inherit;
}

#Message h1 {
    font-size: 25px;
    text-align: center;
    color: #807d6f;
    text-shadow: 1.5px 1.5px black
}

#Message p {
    font-size: 18px;
    color: #000;
    text-align: center;
    word-spacing: 2px;
    line-height: 35px;
}


/*.footer {
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1.5px solid #28160C;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 5px 2.5px 5px;
}

.footer .footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #807d6f;
    padding: 20px 0px;
}

.footer .footer-main-div .footer-left {
    float: left;
    display: inline-flex;
    position: relative;
}

.footer .footer-main-div .footer-left img {
    float: left;
    padding-left: 10px;
    padding-top: 0px;
    display: block;
}

.footer .footer-main-div .footer-left p {
    text-decoration-style: bold;
    padding-left: 10px;
    padding-top: 40px;
    display: block;
}

.footer .footer-main-div .social-icons {
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-table;
    position: relative;
    float: left;
}

.footer .footer-main-div .social-icons ul {
    padding: 30px;
    padding-left: 110px;
    text-align: center;
    margin: auto;
    display: inline-flex;
    position: relative;
}

.footer .footer-main-div .social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #000;
}

.footer .footer-main-div .social-icons ul li a {
    color: #F19C2A;
    font-size: 25px;
}

.footer .footer-main-div .social-icons ul li i {
    font-size: 1.15em;
    line-height: 50px;
}

.footer .footer-main-div .subscribe_form {
    float: right;
    display: inline-flex;
    position: relative;
    padding-top: 40px;
    padding-right: 50px;
}

.footer .footer-main-div .subscribe_form .h05 {
    font-family: initial;
    font-weight: bold;
}

.footer .footer-main-div .subscribe_form .subscribe #m-form {
    width: 300px;
}
*/

footer {
    position: relative;
    bottom: 0;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 0 auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #000;
    color: #F19C2A;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #000;
    border-radius: 2px;
    font-size: 20px;
    color: #F19C2A;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
}